extends layout

include mixins/_storeForm

block content
	.inner
		h2= title
		//- can also set as h2 #{ title } if we wanted to add extra text as well
		//- +storeForm( { name: 'Tim Hortons' } )
		+storeForm( store )
