extends layout

block content
	h2 Sale ends in #{ h.moment().endOf( 'day' ).fromNow() }
	//- If you leave out element, div is assumed (default)
	.wrapper
		//- Dash allows you to write JavaScript inline
		- const upDog = dog.toUpperCase();
		p.hello Hello! My name is #{ name.toUpperCase() } and my weasel's name is #{ upDog }
		span#bonjour Bonjour!
		//- can also separate atributed with commas.
		img.dog(src="dog.jpg", alt=`Dog ${ dog }`)

	h2 
		//- Adding pipe allows you to put item on same line as below
		| ¡Hola!
		em ¿Como estás?
