mixin storeForm( store = {} )
	//- p It Works! - #{ store.name }
	//- form( action="/add" method="POST" enctype="multipart/form-data" class="card" )
	form( action=`/add/${ store._id || '' }` method="POST" class="card" )
		label( for="name" ) Name
		input( type="text" name="name" value=store.name )
		label( for="description" ) Description
		textarea( name="description" )= store.description
		//- address, lng and lat
		label( for="address" ) Address
		input( type="text" id="address" name="location[address]" value=( store.location && store.location.address ) )
		label( for"lng" ) Address Lng
		input( type="text" id="lng" name="location[coordinates][0]" value=( store.location && store.location.coordinates[0] ) required )
		label( for"lat" ) Address Lat
		input( type="text" id="lat" name="location[coordinates][1]" value=( store.location && store.location.coordinates[1] ) required )
		//- pre= h.dump( store ) » dumps out the store object to the page - like var_dump in PHP
		- const choices = ['WiFi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
		- const tags = store.tags || []
		ul.choices
			each choice in choices
				.tag.tag__choice
					input( type="checkbox" id=choice value=choice name="tags" checked=( tags.includes( choice ) ) )
					label( for=choice )= choice
					//- can also set as label( for=choice ) #{ choice },  if we wanted to add extra text as well
		input( type="submit" value="Save →" class="button" )
